body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	width: 100%;
	height: auto;
}

.app{
	width: 100%;
	height: auto;
	position: relative;
}

.main{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.main-content{
	width: 100%;
	height: auto;
	margin-top: 5em;
}

.todo-wrapper{
	width: 100%;
	height: auto;
}

.header{
	width: 100%;
	height: 4em;
	background: rgb(0, 122, 255);
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
}

form{
	width: 100%;
	padding-left: 0.3em;
}

h1{
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 0.4em;
}

h2{
	font-weight: 300;
	font-size: 1.5em;
}

ul{
	list-style-type: none;
	padding: 0;
}

.add-input{
	color: #cacaca;
	padding: 0.7em;
	border: 1px solid #cacaca;
	outline: 0;
	width: 50%;
}

button{
	color: #fff;
	background: rgb(0, 122, 255);
	border: 1px solid rgb(0, 122, 255);
	padding: 0.5em 2em;
	text-transform: uppercase;
	cursor: pointer;
	outline: 0;
}

button:hover, button:active{
	color: rgb(0, 122, 255);
	background: #fff;
	transition: color 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}

li{
	background: #b0e0e6;
	margin: 1em 0;
	padding: 1em;
}

.footer{
	width: 100%;
	height: 2em;
	display: block;
	position: fixed;

	background: rgb(0, 122, 255);
	color: #fff;
	bottom: 0;
	left: 0;

	padding: 0.5em;
}

#trash{
	width: 10%;
	height: auto;
	float: right;
	margin-right: 1.5em;
}

#trash img{
	width: 20%;
	height: auto;
	float: right;
	vertical-align: middle;
}

.meat {background: #FF6666; color: #000; font-weight: 500;}
.fruits {background: #FFFF66; color: #000; font-weight: 500;}
.veggies {background: #66FF66; color: #000; font-weight: 500;}
.random {color: #000; background: #e0e6b0;}
.clothing {background: #CCCCFF; color: #000; font-weight: 500;}

 #trash-can { 
 	float: left; 
 	width: 150px; 
 	min-height: 50px; 
 	padding: 0.5em; 
 	margin: 8px 10px 8px 20px; 
 	cursor: hand; 
 	cursor: pointer; 
 	border: 1px dotted red; 
 }

 #droppable { 
 	width: 150px; 
 	height: 150px; 
 	padding: 0.5em; 
 	float: left; 
 	margin: 10px; 
 }

/*#trash {
	background-color: green;
	float: right;
	 width: 32%; 
	 min-height: 18em; 
	 padding: 1%; 
}*/

@media (max-width: 40em){
	.main{
		margin: 0;
		width: 100%;
	}

	#trash{
		width: 7%;
		height: auto;
		float: right;
		padding-right: 1.5em;
		margin: 0;
	}

	#trash img{
		width: 100%;
		height: auto;
	}

	.add-input{
	color: #cacaca;
	padding: 0.5em;
	border: 1px solid #cacaca;
	outline: 0;
	font-size: 15px;
	width: 75%;
	}

	button{
		color: #fff;
		background: rgb(0, 122, 255);
		border: 1px solid rgb(0, 122, 255);
		padding: 0.6em 2em;
		text-transform: uppercase;
		cursor: pointer;
		outline: 0;
	}

	button:hover, button:active{
		color: rgb(0, 122, 255);
		background: #fff;
		transition: color 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;
	}
}